@font-face {
	font-family: OpenSansBold;
	src: url(/fonts/OpenSans-Bold.woff);
}

@font-face {
	font-family: OpenSansRegular;
	src: url(/fonts/OpenSans-Regular.woff);
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: OpenSansRegular;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: OpenSansBold;
	color: black;
}

.visually-hidden {
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
}

.page-content {
	display: flex;
	justify-content: center;
}

/* =========================== H E A D E R ==================================== */

.header-container {
	padding-top: 28px;
	padding-left: 245px;
	padding-right: 275px;
}

.header-logo {
	width: 182px;
}

.page-header {
	background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: #000000;
	position: relative;

	color: #ffffff;
	width: 100%;
	text-transform: uppercase;
	font-family: OpenSans;
	z-index: 0;
}

.page-header:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000;
	opacity: 0.45;
	z-index: -1;
}

.top-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu {
	padding-top: 8px;
	font-size: 13px;
}

.menu ul {
	list-style-type: none;
	display: flex;
}

.menu li {
	margin-right: 35px;
}

.menu li:last-child {
	margin-right: 0px;
}

.menu a {
	color: #fff;
	font-family: OpenSansRegular;
}

.header-title {
	display: flex;
	justify-content: center;
	text-align: center;
}

.title-content {
	text-align: center;
	font-size: 45px;
	margin-top: 125px;
	padding-bottom: 145px;
	line-height: 75px;
	width: 680px;
}

/*================== T R E N D S =====================*/

.trends-title {
	font-family: OpenSansBold;
	text-align: center;
	margin-top: 64px;
	position: relative;
}

.trends-title:after {
	content: "";
	position: absolute;
	top: 40px;
	left: 67%;
	width: 66px;
	height: 4px;
	margin-left: -19%;
	background: #e1d9bd;
}

.trends-posts-container {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.trend {
	width: 24.8%;
	height: 20em;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: #000000;
	position: relative;
	z-index: 0;

	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 16px;
}

.trend:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000;
	opacity: 0.6;
	z-index: -1;
}

.trend1 {
	background-image: url(/img/trend1.jpg);
}
.trend2 {
	background-image: url(/img/trend2.jpg);
}
.trend3 {
	background-image: url(/img/trend3.jpg);
}
.trend4 {
	background-image: url(/img/trend4.jpg);
}

.trend-content {
	border: 3px solid #8f7b4b;
	padding: 37px;
}

.category {
	margin-bottom: 15px;
	color: #8f7b4b;
}

.category li {
	margin-right: 20px;
}

.trend-title-link {
	color: #fff;
}

/*================== M A I N =====================*/

.main-content {
	margin: 63px 120px 60px 228px;
	font-family: OpenSans;
	max-width: 1200px;
	/* flex-grow: 1; */
}

.post {
	padding-left: 15px;
	margin-bottom: 60px;
	display: flex;
}

.img-conrainer {
	width: calc(100% - 367px);
}

.post-image {
	width: 380px;
}

.post-content {
	margin-left: 30px;
	width: 367px;
}

.post-link {
	color: #0f0d0e;
	font-size: 20px;
	margin-bottom: 38px;
}

.category {
	text-transform: uppercase;
	list-style-type: none;
	display: flex;
	margin-bottom: 15px;
	font-size: 14px;
}

.category a {
	margin-right: 20px;
	margin-bottom: 150px;
	color: #b59f5b;
}

.post-link {
	margin-bottom: 38px;
	text-transform: uppercase;
	font-size: 20px;
}

.post-author {
	color: #000;
}

.date-author {
	margin-top: 38px;
	font-size: 12px;
}

.post-date {
	color: #888888;
	margin-right: 14px;
}

.post-text {
	margin-top: 55px;
}

.post-text div {
	margin-top: 15px;
}

/*================== A S I D E =====================*/

.aside-content {
	width: 272px;
	margin: 63px 244px 62px 0px;
}

.aside-title {
	font-family: OpenSansBold;
	text-align: center;
	font-size: 14px;
	margin-bottom: 46px;
	position: relative;
}

.aside-title:after {
	content: "";
	position: absolute;
	top: 28px;
	left: 67%;
	width: 66px;
	height: 4px;
	margin-left: -30%;
	background: #e1d9bd;
}

.aside-post {
	display: flex;
	margin-bottom: 22px;
}

.aside-post:last-child() {
	margin-bottom: 0px;
}

.aside-post-image {
	width: 70px;
	margin-right: 20px;
}

.aside-post-date {
	font-size: 12px;
}

.aside-post-link {
	font-size: 14px;
	font-family: OpenSansBold;
}

.search {
	margin-top: 60px;
}

.field {
	box-sizing: border-box;
	font-size: 13px;
	width: calc(100% - 48px);
	height: 47px;
	border: none;
	background-color: #f4f7f6;
	padding-left: 20px;
}

.field-container {
	display: flex;
	width: 100%;
}

.button-field {
	width: 48px;
	background-color: #b59f5b;
	background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
	border: none;
}

.mailing {
	margin-top: 63px;
	text-align: center;
	position: relative;
}

.mailing-title-link:after {
	content: "";
	position: absolute;
	top: 28px;
	left: 67%;
	width: 66px;
	height: 4px;
	margin-left: -30%;
	background: #e1d9bd;
	font-size: 14px;
}

.email {
	box-sizing: border-box;
	margin-top: 40px;
	font-size: 13px;
	width: 100%;
	height: 47px;
	border: none;
	background-color: #f4f7f6;
	font-family: OpenSansRegular;
	padding-left: 20px;
}

.button-email {
	margin-top: 19px;
	width: 100%;
	height: 50px;
	background-color: #b59f5b;
	font-family: OpenSansBold;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	border: none;
}

.tegs {
	width: 100%;
	text-align: center;
	font-size: 14px;
	margin-top: 60px;
	position: relative;
}

.tegs:after {
	content: "";
	position: absolute;
	top: 28px;
	left: 68%;
	width: 66px;
	height: 4px;
	margin-left: -30%;
	background: #e1d9bd;
	font-size: 14px;
}

.tegs-title-link {
	font-size: 14px;
}

.tegs-list {
	margin-top: 43px;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}

.teg {
	display: border-box;
	font-size: 12px;
	margin-right: 3px;
	margin-bottom: 5px;
	padding: 10px 14px;
	border: 4px solid #eeeeee;
}
.tegs-list:last-child {
	margin-bottom: 0px;
}

.topics {
	margin-top: 62px;
	position: relative;
}

.topics-title {
	text-align: center;
	margin-bottom: 48px;
}

.topics:after {
	content: "";
	position: absolute;
	top: 28px;
	left: 68%;
	width: 66px;
	height: 4px;
	margin-left: -30%;
	background: #e1d9bd;
	font-size: 14px;
}

.topics-list {
	list-style-type: none;
}

.topics-list a {
	text-transform: none;
	font-family: OpenSansBold;
}

.topic {
	margin-bottom: 33px;
	border-bottom: 1px solid #eeeeee;
}

.topics-list:last-child {
	margin-bottom: 0px;
}

.num-topic {
	color: #c5b585;
	font-size: 12px;
	vertical-align: top;
}


/*================== F O O T E R =====================*/

.page-footer{
	width:1170px;
	margin-left:auto;
	margin-right:auto;
}

.social-container{
	display: flex;
	justify-content: center;
	background-color:#f4f7f6;
}

.social{
	width: 20px;
	height: 20px;
	margin: 30px 30px 30px 0px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: cover;
}

.icon1{
	background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
}
.icon2{
	background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
}
.icon3{
	background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg);
}
.icon4{
	background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg);
}
.icon5{
	background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}

.copyrights{
	font-family: font-family: OpenSansBold;
	display:flex;
	font-size:12px;
	margin-top:72px;
	padding-bottom:40px;
	justify-content:center;
}

.copyrights-link{
	text-transform: none;
	color:#999999;
}