@font-face {
	font-family: OpenSans;
	src: url(/fonts/OpenSans-Regular.woff);
}

/* =========================== P O P U P ==================================== */

.popup-container {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 2;

	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.popup {
	position: fixed;
	padding: 50px 30px;
	background-color: #ffffff;
	z-index: 2;
	max-width: 390px;
	max-height: 596px;
}
.btn-close {
	position: absolute;
	width: 20px;
	height: 20px;
	background-image: url(/svg/form-x.svg);
	border: none;
	background-color: transparent;

	top: -25px;
	left: 370px;
}
.popup-title {
	text-align: center;
	margin-bottom: 42px;
}
.popup-title:after {
	content: "";
	display: block;
	margin: 13px auto 0;
	width: 66px;
	height: 4px;
	background: #e1d9bd;
}
.popup-title-link {
	font-size: 20px;
}
.select-attendance {
	font-size: 13px;
	margin-top: 5px;
	padding: 17px;
	width: 100%;
	background-color: #f4f7f6;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url(/svg/form-arrows.svg);
	background-repeat: no-repeat;
	background-size: 12px;
	background-position: right 15px center;
}
.popup-mail {
	margin-top: 34px;
}
.buttons-mail {
	margin-top: 9px;
	margin-left: 25px;
}
.radio-btn {
	display: none;
	position: relative;
}

.radio-group:first-child {
	margin-right: 20px;
}

.radio-group {
	position: relative;
}

.radio-btn-text {
	font-size: 13px;
	margin-left: 10px;
	display: inline;
	position: absolute;
	width: 18px;
	height: 18px;
	top: 0;
	left: -35px;
	background-image: url(/svg/form-empty-circle.svg);
	background-size: cover;
}

.radio-btn:checked + .radio-btn-text {
	background-image: url(/svg/form-circle.svg);
}
.radio-group {
	margin-left: 16px;
}
.radio-group:first-child {
	margin-left: 0;
}
.popup-info {
	margin-top: 34px;
}
.input-info {
	font-size: 13px;
	padding: 20px;
	width: 100%;
	height: 130px;
	margin-top: 12px;
	margin-bottom: 26px;
	background-color: #f4f7f6;
	border: none;
}
.button-submit {
	font-size: 14px;
	width: 100%;
	height: 50px;
	text-transform: uppercase;
	background-color: #b59f5b;
	color: #ffffff;
	border: none;
}
.p-text {
	font-size: 13px;
}

html {
	width: 100%;
}
body {
	width: 100%;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: OpenSans;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: OpenSans;
	font-weight: bold;
	color: black;
}

span {
	display: none;
}

.page-content {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-direction: column;
}

/* =========================== osnova ==================================== */
/* =========================== H E A D E R ==================================== */

.header-container {
	width: 100%;
	padding: 0;
}

.header-logo {
	max-width: 269px;
	width: 269px;
	height: 50px;
	padding-top: 185px;
	order: 2;
}

.page-header {
	background-image: url(/img/banner-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: #000000;
	position: relative;

	color: #ffffff;
	width: 100%;
	text-transform: uppercase;
	font-family: OpenSans;
	z-index: 1;
}

.page-header:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000;
	opacity: 0.45;
	z-index: 0;
}

.top-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

	flex-direction: column;
	width: 100%;
	height: 100%;
	margin-bottom: 45px;
	z-index: 1;
}

.burger-menu-img {
	background-image: url(/img/burger-menu.png);
	width: 23px;
	height: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	position: static;
	top: 100;
	left: 1;
	display: block;
}

.menu {
	padding-top: 8px;
	font-size: 13px;
	margin: 32px 17px 0 auto;
	order: 1;
	color: #fff;
	font-family: OpenSans;
}

.menu-items {
	list-style-type: none;
	display: none;
	color: inherit;
}

.menu-item {
	color: inherit;
	margin-right: 35px;
}

.menu-item:last-child {
	margin-right: 0px;
}

.menu-item-link {
	color: inherit;
}

.header-title {
	display: flex;
	justify-content: center;
	text-align: center;
}

.title-content {
	text-align: center;
	width: 680px;
	font-size: 26px;
	line-height: 36px;
	margin-top: 45px;
	padding-bottom: 218px;
	z-index: 1;
}

/*================== T R E N D S =====================*/

.trends-title {
	font-family: OpenSans;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin-top: 64px;
	position: relative;
}

.trends-title:after {
	content: "";
	display: block;
	margin: 13px auto 0;
	width: 66px;
	height: 4px;
	background: #e1d9bd;
}

.trends-posts-container {
	display: block;
	margin-top: 30px;
}

.trend {
	height: 20em;
	background-color: #000000;
	position: relative;
	z-index: 1;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	font-family: OpenSans;
	font-weight: bold;
	font-size: 14px;
	width: 100%;
	margin-bottom: 3px;
}

.trend:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000;
	opacity: 0.6;
	z-index: 0;
}

.trend-img {
	width: 100%;
	height: 100%;
}

.trend:first-child {
	margin-left: 0px;
}

.trend-container {
	position: absolute;
	z-index: 1;
	padding: 20px 16px;
}

.trend-content {
	border: 3px solid #8f7b4b;
	width: 100%;
	padding: 33px 0 30px 22px;
	z-index: 1;
}

.category {
	margin-bottom: 15px;
	color: #8f7b4b;
}

.category li {
	margin-right: 20px;
	font-size: 14px;
	font-weight: bold;
}

ul.category {
	line-height: 37.2px;
	margin: 0px;
}

.trend-title-link {
	color: #fff;
	max-width: 340px;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
}

/*================== M A I N =====================*/

.main-content {
	font-family: OpenSans;
	margin: 0;
	margin-bottom: 42px;
}

.posts {
	margin-top: 44px;
}

.post {
	padding-left: 15px;
	margin-bottom: 35px;
	display: block;
	padding: 0 15px;
	position: relative;
}

.post:last-child {
	margin-bottom: 0;
}

.img-container {
	width: 100%;
}

.post-image {
	width: 100%;
}

.post-content {
	margin: 0px;
	width: 100%;
	padding-bottom: 25px;
	border-bottom: 4px solid #eeeeee;
}

.post-link {
	color: #0f0d0e;
	margin-bottom: 38px;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 38px;
	text-transform: uppercase;
	font-size: 20px;
}

.category {
	text-transform: uppercase;
	list-style-type: none;
	display: flex;
	margin-bottom: 15px;
	font-size: 14px;
}

.category-link {
	margin-right: 20px;
	margin-bottom: 150px;
	color: #b59f5b;
}

.post-author {
	color: #000;
	text-transform: none;
}

.date-author {
	margin-top: 27px;
	font-size: 12px;
}

.post-date {
	color: #888888;
	margin-right: 14px;
}

.post-text {
	margin-top: 27px;
	font-size: 14px;
	line-height: 20px;
}

.post-text div {
	margin-top: 15px;
}

.post-author {
	font-weight: bold;
}

/*================== A S I D E =====================*/

.aside-content {
	width: 100%;
	margin: 0;
	padding: 0 15px;
}

.aside-posts {
	width: 100%;
}

.aside-title {
	font-family: OpenSans;
	font-weight: bold;
	text-align: center;
	font-size: 14px;
	margin-bottom: 45px;
	position: relative;
}

.aside-title:after {
	content: "";
	display: block;
	margin: 13px auto 0;
	width: 66px;
	height: 4px;
	background: #e1d9bd;
}

.aside-title-link {
	font-size: 16px;
}

.aside-post {
	display: flex;
	margin-bottom: 22px;
}

.aside-post:last-child() {
	margin-bottom: 0px;
}

.aside-post-image {
	width: 70px;
	margin-right: 20px;
}

.aside-post-date {
	font-size: 12px;
}

.aside-post-link {
	font-size: 14px;
	font-family: OpenSans;
	font-weight: bold;
}

.search {
	margin-top: 60px;
}

.field {
	box-sizing: border-box;
	font-size: 13px;
	width: 100%;
	height: 47px;
	border: none;
	background-color: #f4f7f6;
	padding-left: 20px;

	display: flex;
}

.field-container {
	display: flex;
	width: 100%;
}

.button-field {
	width: 48px;
	background-color: #b59f5b;
	border: none;
	flex-shrink: 0;
}

.svg-search {
	width: 18px;
}

.mailing {
	margin-top: 44px;
	text-align: center;
	position: relative;
}

.mailing-title-link {
	font-size: 16px;
	line-height: 29.15px;
}

.mailing-title-link:after {
	content: "";
	display: block;
	margin: 13px auto 0;
	width: 66px;
	height: 4px;
	background: #e1d9bd;
	font-size: 14px;
}

.email {
	box-sizing: border-box;
	margin-top: 40px;
	font-size: 13px;
	width: 100%;
	height: 47px;
	border: none;
	background-color: #f4f7f6;
	font-family: OpenSans;
	padding-left: 20px;
}

.button-email {
	margin-top: 19px;
	width: 100%;
	height: 50px;
	background-color: #b59f5b;
	font-family: OpenSans;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	border: none;
}

.tags {
	width: 100%;
	text-align: center;
	font-size: 14px;
	margin-top: 43px;
	position: relative;
}

.tags-title:after {
	content: "";
	display: block;
	margin: 13px auto 0;
	width: 66px;
	height: 4px;
	background: #e1d9bd;
	font-size: 14px;
}

.tags-title-link {
	font-size: 16px;
	line-height: 29.15px;
}

.tags-list {
	margin-top: 41px;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}

.tag {
	font-size: 12px;
	line-height: 40px;
	padding: 0 7px;

	margin-right: 3px;
	margin-bottom: 5px;
	border: 3px solid #eeeeee;
}
.tags-list:last-child {
	margin-bottom: 0px;
}

.topics {
	margin-top: 43px;
	position: relative;
}

.topics-title {
	text-align: center;
	margin-bottom: 48px;
}

.topics-title:after {
	content: "";
	display: block;
	margin: 13px auto 0;
	width: 66px;
	height: 4px;
	background: #e1d9bd;
	font-size: 14px;
}

.topics-list {
	list-style-type: none;
}

.topics-list a {
	text-transform: none;
	font-family: OpenSans;
	font-weight: bold;
}

.topic {
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 16px;
	margin-bottom: 17px;
}

.topics-list:last-child {
	margin-bottom: 0px;
}

.num-topic {
	color: #c5b585;
	font-size: 12px;
	vertical-align: top;
}

/*================== S H O P =====================*/

.shop {
	max-width: 1200px;
	margin: 43px 15px 0;
}

h3 {
	padding: 0;
	margin: 0;
}

.shop-title {
	text-align: center;
	margin-bottom: 45px;
	position: relative;
	font-family: OpenSansBold;
	font-size: 20px;
}

.shop-title::after {
	content: "";
	display: block;
	margin: 13px auto 0;
	width: 66px;
	height: 4px;
	background: #e1d9bd;
}

.products {
	display: block;
	padding: 0 20px;
}

.product {
	max-width: 300px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;

	margin-bottom: 26px;
	width: 100%;
}

.product:last-child {
	margin-bottom: 0;
}

.product-picture {
	width: 100%;
	min-height: 226px;
	flex-grow: 1;
	height: 1px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.product-picture-link {
	max-width: 100%;
}

.product-info {
	border: 3px solid #d3c59d;
	margin-top: -30px;
	margin-left: -20px;
	padding: 55px 20px 20px;
	width: 340px;
	flex-grow: 1;
}

.product-title {
	margin: 0;
	font-size: 17px;
	line-height: 22px;
	font-family: OpenSans;
	font-weight: bold;
}

.product1 {
	background-image: url(/img/shop-item-mobile1.jpg);
}
.product2 {
	background-image: url(/img/shop-item-mobile2.jpg);
}
.product3 {
	background-image: url(/img/shop-item-mobile3.jpg);
}
.product-picture-link {
	display: none;
}

.product-text {
	margin-bottom: 27px;
	font-family: OpenSans;
	font-size: 15px;
	line-height: 22px;
}

.product-text > a {
	color: #b59f5b;
	text-transform: none;
}

.product-buy-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.product-price-all {
	text-decoration: line-through;
	font-family: OpenSans;
	font-weight: bold;
	font-size: 14px;
}

.product-price-discount {
	font-family: OpenSans;
	font-weight: bold;
	font-size: 20px;
}

.product-button {
	background-color: #b59f5b;
	padding: 20px 30px;
	color: #ffffff;
	font-family: OpenSans;
	font-weight: bold;
	font-size: 14px;
}

.here {
	text-decoration: underline;
}

/*================== F O O T E R =====================*/

.page-footer {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
	margin-top: 43px;
}

.social-container {
	display: flex;
	background-color: #f4f7f6;
	justify-content: space-around;
	padding: 0 56px;
}

.social {
	width: 20px;
	margin: 30px 30px 30px 0px;
	height: 20px;
	margin-right: 0;
}

.copyrights {
	font-family: OpenSans;
	font-weight: bold;
	display: flex;
	font-size: 12px;
	margin-top: 50px;
	padding-bottom: 50px;
	justify-content: center;
}

.copyrights-link {
	text-transform: none;
	color: #999999;
}

/* 	Tablet //////////////////////////  */

/*=================== Media ==========================*/

/* Tablet */
@media (min-width: 641px) {
	.header-logo {
		width: 157px;
		height: 30px;
		padding: 0;
	}

	.header-container {
		justify-content: space-between;
		width: 100%;
		padding: 50px 35px;
	}

	.top-container {
		flex-direction: row;
	}

	.menu {
		max-width: 23px;
		order: 2;
	}

	.menu-items {
		display: none;
	}

	.burger-menu-img {
		display: block;
	}

	.title-content {
		font-size: 40px;
		line-height: 55px;
	}

	.trend-title-link {
		font-size: 18;
		line-height: 29px;
	}

	.trends-posts-container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.category-link {
		font-family: OpenSans;
		font-weight: bold;
	}

	.trend-title-link {
		font-size: 17px;
		line-height: 22px;
	}

	.trend {
		width: calc((100% - 4px) / 2);
		margin-left: 4px;
	}

	.trend:nth-child(3) {
		margin-left: 0;
	}

	.page-content {
		margin-top: 50px;
		flex-direction: row;
	}

	.main-content {
		width: 805px;
		margin: 0 35px;
	}

	.post {
		flex-direction: column;
		padding: 0;
		margin-bottom: 67px;
		position: relative;
	}

	.post:first-child::after {
		display: none;
	}

	.img-container {
		width: 100%;
	}

	.post-image {
		width: 100%;
	}

	.post-content {
		width: 100%;
		margin: 16px 0 0;
	}

	.post-link {
		font-size: 17px;
		line-height: 22px;
	}

	.date-author {
		font-size: 12;
		line-height: 40px;
	}

	.post-text {
		font-size: 15px;
		line-height: 22px;
		margin-top: 38px;
	}
	.aside-content {
		width: 272px;
		margin: 0 33px 0 0;
	}

	.aside-title-link {
		font-size: 14px;
		line-height: 29.15px;
	}

	.mailing-title-link {
		font-size: 14px;
		line-height: 29.15px;
	}

	.aside-title-link {
		font-size: 14px;
		line-height: 29.15px;
	}

	.topics-title-link {
		font-size: 14px;
		line-height: 29.15px;
	}

	.num-topic {
		font-weight: bold;
	}

	.shop-title-link {
		font-size: 18px;
		line-height: 29px;
	}

	.products {
		display: flex;
		flex-wrap: wrap;
	}

	.product {
		margin: 0 35px 28px;
		box-sizing: border-box;
	}

	.product:nth-child(2n-1) {
		margin-left: 56px;
	}

	.product:nth-child(2n) {
		margin-right: 56px;
	}

	.product-picture {
		width: 100%;
		min-height: 226px;
		max-height: 500px;
		flex-grow: 1;
		height: 1px;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.product1 {
		background-image: url(/img/shop-item-tablet1.jpg);
	}
	.product2 {
		background-image: url(/img/shop-item-tablet2.jpg);
	}
	.product3 {
		background-image: url(/img/shop-item-tablet3.jpg);
	}

	.product-picture-link {
		display: none;
	}

	.product-title {
		margin: 0;
	}

	.product-title-link {
		font-size: 17px;
		line-height: 22px;
	}

	.product-text {
		font-size: 15px;
		line-height: 22px;
	}

	.popup-title-link {
		font-size: 18px;
	}

	.page-footer {
		margin: 22px 0px 0px;
		width: 100%;
	}

	.social-container {
		margin: 0 35px;
		justify-content: center;
	}

	.social {
		height: 25px;
		margin: 30px 30px 30px 0;
	}

	.copyrights {
		margin-top: 50px;
	}
}

/* Desktop */
@media (min-width: 1200px) {
	.header-container {
		padding: 28px 275px 0px 245px;
	}

	.top-container {
		margin: 0;
		height: 30px;
	}

	.header-logo {
		width: 182px;
	}

	.burger-menu-img {
		display: none;
	}

	.menu {
		margin: 0;
		padding-top: 8px;
		max-width: none;
	}

	.menu-items {
		list-style-type: none;
		display: flex;
	}

	.menu-item:last-child {
		margin-right: 0px;
	}

	.title-content {
		text-align: center;
		font-size: 45px;
		margin-top: 125px;
		padding-bottom: 145px;
		line-height: 75px;
		width: 680px;
	}

	.trends-posts-container {
		flex-wrap: nowrap;
	}

	.trend {
		width: 100%;
		margin-left: 4px;
	}

	.trend:nth-child(3) {
		margin-left: 4px;
	}

	.trend-content {
		padding: 40px 34px 37px;
	}

	.trend-title-link {
		font-size: 20px;
	}

	.page-content {
		max-width: 1200px;
		margin: 0 auto;
	}

	.post {
		display: flex;
		flex-direction: row;
	}

	.img-container {
		box-sizing: border-box;
		width: 380px;
	}

	.post-image {
		min-width: 100%;
	}

	.post-content {
		margin-left: 30px;
		margin-top: 0;
		width: 367px;
		border: none;
		padding: 0;
	}

	.post-title {
		font-size: 20px;
	}

	.aside-content {
		margin-top: 53px;
	}

	.shop {
		margin: 64px auto 0;
	}

	.product:nth-child(n) {
		max-width: 300px;
		margin: 0 auto;
	}

	.products {
		flex-wrap: nowrap;
	}
	.product-info {
		border: 3px solid #d3c59d;
		margin-top: -30px;
		margin-left: -20px;
		padding: 55px 20px 20px;
		max-width: 340px;
		flex-grow: 1;
		flex-shrink: 1;
	}

	.page-footer {
		max-width: 1200px;
		margin: 64px auto 0;
		padding: 0;
	}
}
