@font-face {
	font-family: OpenSansBold;
	src: url(/fonts/OpenSans-Bold.woff);
}

@font-face {
	font-family: OpenSansRegular;
	src: url(/fonts/OpenSans-Regular.woff);
}


/* =========================== P O P U P ==================================== */

.popup-container {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1;
}

.popup {
	position: fixed;
	top: calc(100%/2 - 590px/2);
	left: calc(100%/2 - 390px/2);
	padding: 50px 30px;
	background-color: #ffffff;
	/* opacity: 1; */
	z-index: 2;
	max-width: 390px;
	max-height: 596px;
}
.btn-close {
	position: absolute;
	width: 20px;
	height: 20px;
	background-image: url(/svg/form-x.svg);
	border: none;
	background-color: transparent;
	top: -5%;
	left: 95%;
}
.popup-title {
	text-align: center;
	margin-bottom: 42px;
}
.popup-title:after {
	content: "";
	position: absolute;
	top: 15%;
	left: 59%;
	width: 66px;
	height: 4px;
	margin-left: -19%;
	background: #e1d9bd;;
}
.popup-title-link {
	font-size: 20px;
}
.select-attendance {
	font-size: 13px;
	margin-top: 5px;
	padding: 17px;
	width: 100%;
	background-color: #f4f7f6;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none; 
	background-image: url(/svg/form-arrows.svg);
	background-repeat: no-repeat;
	background-size: 12px;
	background-position: right 15px center;
}
.popup-mail {
	margin-top: 34px;
}
.buttons-mail {
	margin-top: 9px;
}
.radio-btn {
	display: none;
}
.radio-btn-text {
	font-size: 13px;
}
.radio-btn-text::before {
	margin-right: 5px;
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	background-image: url(/svg/form-empty-circle.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.radio-btn:checked + .radio-btn-text::before {
	background-image: url(/svg/form-circle.svg);
}
.radio-group {
	margin-left: 16px;
}
.radio-group:first-child {
	margin-left: 0;
}
.popup-info {
	margin-top: 34px;
}
.input-info {
	font-size: 13px;
	padding: 20px;
	width: 100%;
	height: 130px;
	margin-top: 12px;
	margin-bottom: 26px;
	background-color: #f4f7f6;
	border: none;
}
.button-submit {
	font-size: 14px;
	width: 100%;
	height: 50px;
	text-transform: uppercase;
	background-color: #b59f5b;
	color: #ffffff;
	border: none;
}
.p-text {
	font-size: 13px;
}

@media  (min-width: 641px) and (max-width: 1200px)  {
	.popup-title-link {
		font-size: 18px;
	}
}

@media (max-width: 640px) {
	.popup-title-link {
		font-size: 16px;
	}
}
/*////////////////////////////////////////////////////////////////////////////*/

html {
	width: 100%;
}
body {
	width: 100%
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: OpenSansRegular;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: OpenSansBold;
	color: black;
}

.visually-hidden {
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
}

.page-content {
	display: flex;
	justify-content: center;
}


/* =========================== H E A D E R ==================================== */

/* ============ H E A D E R desctop =============== */
.header-container {
	padding-top: 28px;
	padding-left: 245px;
	padding-right: 275px;
}

.header-logo {
	width: 182px;
}

.page-header {
	background-image: url(/img/banner-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: #000000;
	position: relative;

	color: #ffffff;
	width: 100%;
	text-transform: uppercase;
	font-family: OpenSans;
	z-index: 0;
}

.page-header:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000;
	opacity: 0.45;
	z-index: -1;
}

.top-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.burger-menu-img {
	background-image: url(/img/burger-menu.png);
	width: 23px;
	height: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	position:static;
	top: 100;
	left: 1;
	display: none;
}

.menu {
	padding-top: 8px;
	font-size: 13px;
}

.menu ul {
	list-style-type: none;
	display: flex;
}

.menu li {
	margin-right: 35px;
}

.menu li:last-child {
	margin-right: 0px;
}

.menu a {
	color: #fff;
	font-family: OpenSansRegular;
}

.header-title {
	display: flex;
	justify-content: center;
	text-align: center;
}

.title-content {
	text-align: center;
	font-size: 45px;
	margin-top: 125px;
	padding-bottom: 145px;
	line-height: 75px;
	width: 680px;
}


/* ============ H E A D E R tablet =============== */

@media  (min-width: 641px) and (max-width: 1200px) {

	.header-logo{
		width: 157px;
		height: 30px;
	}

	.header-container {
		justify-content: space-between;
		width: 100%;
		padding: 50px 35px;
	}

	.menu {
		max-width: 23px;
	}

	.menu > ul {
		display: none;
	}

	.burger-menu-img {
		display: block;
	}

	.title-content {
		font-size: 40px;
		line-height: 55px;
	}
}

/* ============ H E A D E R mobile =============== */

@media (max-width: 640px) {
	
	.page-header {
		width: 100%;
	}

	.header-container {
		width: 100%;
		padding: 0;
	}

	.top-container {
		flex-direction: column;
		width: 100%;
		height: 100%;
		margin-bottom: 45px;
	}

	.menu > ul {
		display: none;
	}

	.menu {
		/* margin-left: auto; */
		margin: 32px 17px 0 auto;
		order: 1;
	}

	.burger-menu-img {
		display: block;
	}

	.header-logo {
		max-width: 269px;
		width: 269px;
		height: 50px;
		padding-top: 185px;
		order: 2;
	}

	.title-content {
		font-size: 26px;
		line-height: 36px;
		margin-top: 45px;
		padding-bottom: 218px;
	}
}

/*================== T R E N D S =====================*/

.trends-title {
	font-family: OpenSansBold;
	font-size: 20px;
	text-align: center;
	margin-top: 64px;
	position: relative;
}

.trends-title:after {
	content: "";
	position: absolute;
	top: 40px;
	left: 67%;
	width: 66px;
	height: 4px;
	margin-left: -19%;
	background: #e1d9bd;
}

.trends-posts-container {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.trend {
	width: 24.8%;
	height: 20em;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: #000000;
	position: relative;
	z-index: 0;

	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding: 20px 16px;
	
	font-family: OpenSansBold;
	font-size: 14px;
}

.trend:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000;
	opacity: 0.6;
	z-index: -1;
}

.trend1 {
	background-image: url(/img/trend1.jpg);
}
.trend2 {
	background-image: url(/img/trend2.jpg);
}
.trend3 {
	background-image: url(/img/trend3.jpg);
}
.trend4 {
	background-image: url(/img/trend4.jpg);
}

.trend-content {
	border: 3px solid #8f7b4b;
	padding: 37px;
}

.category {
	margin-bottom: 15px;
	color: #8f7b4b;
}

.category li {
	margin-right: 20px;
	font-size: 14px;
}

.trend-title-link {
	color: #fff;
	max-width: 340px;
	
	font-family: OpenSansBold;
	font-size: 20px;
}


/* ============ T R E N D S tablet =============== */

@media (orientation: landscape) and (min-width: 641px) and (max-width: 1200px) {
	.trend {
		width: 24.8%;
		height: 20em;
	
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		background-color: #000000;
		position: relative;
		z-index: 0;
	
		display: flex;
		align-items: flex-end;
		justify-content: center;
		padding: 20px 16px;
		
		font-family: OpenSansBold;
		font-size: 14px;
	}
}

@media  (min-width: 641px) and (max-width: 1200px) {

	.trend-title-link {
		font-size: 18;
		line-height: 29px;
	}
	
	.trends-posts-container {
		width: 100%;
		flex-wrap: wrap;
	}

	.category > li {
		font-family: OpenSansBold;
	}

	.trend-title-link {
		font-size: 17px;
		line-height: 22px;
	}

	.trends-title:after {
		left: 65%;
	}

	.trend {
		width: calc((100% - 4px)/2 );
		margin-bottom: 4px;
	}


}

/* ============ T R E N D S mobil =============== */

@media (orientation: landscape) and (max-width: 640px) {
	.trend {
		width: calc((100% - 4px)/2 );
		margin-bottom: 4px;
	}
}

@media (max-width: 640px) {

	.trends-title {
		margin-top: 64px;
	}
	.trends-title:after {
		left: 60%;
	}
	.trends-title-link {
		font-size: 16px;;
	}
	.trends-posts-container {
		display: block;
	}
	.trend {
		width: 100%;
		padding-right: 18px;
		padding-left: 12px;
		margin-bottom: 3px;
	}
	.trend:last-child {
		margin-bottom: 0px;
	}
	.trend-content {
		width: 100%;
		padding: 33px 0 30px 22px;
	}
	ul.category {
		line-height: 37.2px;
		margin: 0px;
	}
	.category > li {
		font-family: OpenSansBold;
	}
	.trend-title-link {
		font-size: 16px;
		line-height: 20px;
	}

}

/*================== M A I N =====================*/

.main-content {
	margin: 63px 120px 60px 228px;
	font-family: OpenSans;
	max-width: 1200px;
	/* flex-grow: 1; */
}

.post {
	padding-left: 15px;
	margin-bottom: 60px;
	display: flex;
}

.img-conrainer {
	width: calc(100% - 367px);
}

.post-image {
	width: 380px;
}

.post-content {
	margin-left: 30px;
	width: 367px;
}

.post-link {
	color: #0f0d0e;
	font-size: 20px;
	margin-bottom: 38px;
}

.category {
	text-transform: uppercase;
	list-style-type: none;
	display: flex;
	margin-bottom: 15px;
	font-size: 14px;
}

.category a {
	margin-right: 20px;
	margin-bottom: 150px;
	color: #b59f5b;
}

.post-link {
	margin-bottom: 38px;
	text-transform: uppercase;
	font-size: 20px;
}

.post-author {
	color: #000;
}

.date-author {
	margin-top: 38px;
	font-size: 12px;
}

.post-date {
	color: #888888;
	margin-right: 14px;
}

.post-text {
	margin-top: 55px;
}

.post-text div {
	margin-top: 15px;
}

.post-author {
	font-weight: bold;
}

/* ============ M A I N tablet =============== */

@media  (min-width: 641px) and (max-width: 1200px) {

	.page-content {
		margin-top: 50px;
	}

	.main-content {
		width: calc(100% - 340px - 35px);
		margin: 0 35px;
	}

	.post {
		flex-direction: column;
		padding: 0;
		margin-bottom: 67px;
		position: relative;
	}

	.post:after {
		content: "";
		position: absolute;
		top: -42px;
		left: 30%;
		width: 100%;
		height: 4px;
		margin-left: -30%;
		background: #eeeeee;
		font-size: 14px;
	}

	.post:first-child::after {
		display: none;
	}

	.img-conrainer {
		width: 100%;
	}

	.post-image {
		width: 100%;
	}

	.post-content {
		width: 100%;
		margin: 16px 0 0;
	}

	.post-link {
		font-size: 17px;
		line-height: 22px;
	}

	.date-author {
		font-size: 12;
		line-height: 40px;
	}

	.post-text {
		font-size: 15px;
		line-height: 22px;
		margin-top: 38px;
	}
	
}

/* ============ M A I N mobil =============== */

@media (max-width: 640px) {
	.page-content {
		width: 100%;
		flex-direction: column;
	}
	.main-content {
		margin: 0;
		margin-bottom: 70px;
	}
	.posts {
		margin-top: 44px;
		padding: 0 15px;
	}
	.post {
		flex-direction: column;
		padding: 0;
		position: relative;
	}
	.post:after {
		content: "";
		position: absolute;
		top: -42px;
		left: 30%;
		width: 100%;
		height: 4px;
		margin-left: -30%;
		background: #eeeeee;
		font-size: 14px;
	}
	.post:first-child::after {
		display: none;
	}
	.post:last-child {
		margin-bottom: 0;
	}
	.img-conrainer {
		width: 100%;
	}
	.post-image {
		width: 100%;
	}
	.post-content {
		width: 100%;
		margin: 0;
	}
	.post-link {
		font-size: 16px;
		line-height: 20px;
	}
	.date-author {
		margin-top: 27px;
		font-size: 12px;
	}
	.post-author {
		text-transform: none;
	}
	.post-text {
		margin-top: 27px;
		font-size: 14px;
		line-height: 20px;
	}
}

/*================== A S I D E =====================*/

.aside-content {
	width: 272px;
	margin: 63px 244px 62px 0px;
}

.aside-title {
	font-family: OpenSansBold;
	text-align: center;
	font-size: 14px;
	margin-bottom: 46px;
	position: relative;
}

.aside-title:after {
	content: "";
	position: absolute;
	top: 28px;
	left: 67%;
	width: 66px;
	height: 4px;
	margin-left: -30%;
	background: #e1d9bd;
}

.aside-post {
	display: flex;
	margin-bottom: 22px;
}

.aside-post:last-child() {
	margin-bottom: 0px;
}

.aside-post-image {
	width: 70px;
	margin-right: 20px;
}

.aside-post-date {
	font-size: 12px;
}

.aside-post-link {
	font-size: 14px;
	font-family: OpenSansBold;
}

.search {
	margin-top: 60px;
}

.field {
	box-sizing: border-box;
	font-size: 13px;
	width: calc(100% - 48px);
	height: 47px;
	border: none;
	background-color: #f4f7f6;
	padding-left: 20px;
}

.field-container {
	display: flex;
	width: 100%;
}

.button-field {
	width: 48px;
	background-color: #b59f5b;
	border: none;
}

.svg-search {
	width: 24px;
}

.mailing {
	margin-top: 63px;
	text-align: center;
	position: relative;
}

.mailing-title-link:after {
	content: "";
	position: absolute;
	top: 28px;
	left: 67%;
	width: 66px;
	height: 4px;
	margin-left: -30%;
	background: #e1d9bd;
	font-size: 14px;
}

.email {
	box-sizing: border-box;
	margin-top: 40px;
	font-size: 13px;
	width: 100%;
	height: 47px;
	border: none;
	background-color: #f4f7f6;
	font-family: OpenSansRegular;
	padding-left: 20px;
}

.button-email {
	margin-top: 19px;
	width: 100%;
	height: 50px;
	background-color: #b59f5b;
	font-family: OpenSansBold;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	border: none;
}

.tegs {
	width: 100%;
	text-align: center;
	font-size: 14px;
	margin-top: 60px;
	position: relative;
}

.tegs:after {
	content: "";
	position: absolute;
	top: 28px;
	left: 68%;
	width: 66px;
	height: 4px;
	margin-left: -30%;
	background: #e1d9bd;
	font-size: 14px;
}

.tegs-title-link {
	font-size: 14px;
}

.tegs-list {
	margin-top: 43px;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}

.teg {
	display: border-box;
	font-size: 12px;
	margin-right: 3px;
	margin-bottom: 5px;
	padding: 10px 14px;
	border: 4px solid #eeeeee;
}
.tegs-list:last-child {
	margin-bottom: 0px;
}

.topics {
	margin-top: 62px;
	position: relative;
}

.topics-title {
	text-align: center;
	margin-bottom: 48px;
}

.topics:after {
	content: "";
	position: absolute;
	top: 28px;
	left: 68%;
	width: 66px;
	height: 4px;
	margin-left: -30%;
	background: #e1d9bd;
	font-size: 14px;
}

.topics-list {
	list-style-type: none;
}

.topics-list a {
	text-transform: none;
	font-family: OpenSansBold;
}

.topic {
	margin-bottom: 33px;
	border-bottom: 1px solid #eeeeee;
}

.topics-list:last-child {
	margin-bottom: 0px;
}

.num-topic {
	color: #c5b585;
	font-size: 12px;
	vertical-align: top;
}

/* ============ A S I D E tablet =============== */

@media  (min-width: 641px) and (max-width: 1200px) {
	.aside-content {
		width: 272px;
		margin: 0 33px 0 0;
	}

	.aside-title-link{
		font-size: 14px;
		line-height: 29.15px;
	}

	.mailing-title-link {
		font-size: 14px;
		line-height: 29.15px;
	}

	.aside-title-link {
		font-size: 14px;
		line-height: 29.15px;
	}

	.topics-title-link {
		font-size: 14px;
		line-height: 29.15px;
	}

	.num-topic {
		font-weight: bold;
	}

}

/* ============ A S I D E tablet =============== */
@media (max-width: 640px) {
	.aside-content {
		width: 100%;
		margin: 0;
		padding: 0 15px;
	}
	.aside-posts {
		width: 100%;	
	}
	.aside-title {
		margin-bottom: 45px;
	}
	.aside-title-link {
		font-size: 16px;
	}
	.aside-title::after {
		left: 70%;
	}
	.aside-post-link {
		line-height: 18px;
	}
	.mailing {
		margin-top: 44px;
	}
	.mailing-title-link {
		font-size: 16px;
		line-height: 29.15px;
	}
	.mailing-title-link::after {
		left: 69%;
	}
	.tegs {
		margin-top: 43px;
	}
	.tegs::after {
		top: 35px;
		left: 69%;
	}
	.tegs-title-link {
		font-size: 16px;
		line-height: 29.15px;
	}
	.tegs-list {
		margin-top: 41px;
	}
	.teg {
		font-size: 12px;
		line-height: 40px;
		padding: 0 7px;
		border-width: 3px;
	}
	.topics {
		margin-top: 43px;
	}
	.topics::after {
		top: 35px;
		left: 69%;
	}
	.topic {
		padding-bottom: 16px;
		margin-bottom: 17px;
	}
	.topic:last-child {
		margin-bottom: 0;
	}
}

/*================== S H O P =====================*/

.shop {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

h3 {
	padding: 0;
	margin: 0;
}

.shop-title {
	text-align: center;
	margin-bottom: 45px;
	position: relative;
	font-family: OpenSansBold;
	font-size: 20px;
}

.shop-title::after{
	content: "";
	position: absolute;
	top: 40px;
	left: 66%;
	width: 66px;
	height: 4px;
	margin-left: -19%;
	background: #e1d9bd;
}

.products {
	display: flex;
}

.product {
	max-width: 300px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.product-picture {
	max-width: 100%;
}

.product-picture-link {
	max-width: 100%;
}

.product-info {
	border: 3px solid #d3c59d;
	margin-top: -30px;
	margin-left: -20px;
	padding: 55px 20px 20px;
	width: calc(100% + 40px);
	flex-grow: 1;
}

.product-title {
	margin-bottom: 17px;
	font-family: OpenSansBold;
	font-size: 20px;
}

.product-text {
	margin-bottom: 27px;
	font-family: OpenSansRegular;
	font-size: 15px;;
}

.product-text > a {
	color: #b59f5b;
	text-transform: none;
}

.product-buy-container  {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.product-price-all {
	text-decoration: line-through;
	font-family: OpenSansBold;
	font-size: 14px;
}

.product-price-discount {
	font-family: OpenSansBold;
	font-size: 20px;
}

.product-button {
	background-color:#b59f5b;
	padding: 20px 30px;
	color: #ffffff;
	font-family: OpenSansBold;
	font-size: 14px;
}


/* ============ S H O P tablet =============== */

@media  (min-width: 641px) and (max-width: 1200px) {
	
	.shop-title-link {
		font-size: 18px;
		line-height: 29px;
	}

	.shop-title::after {
		left: 65%;
	}

	.products {
		flex-wrap: wrap;
		
	}

	.product {
		max-width: 50%;
		width: calc(50% - 56px - 35px);
		margin: 0 35px 28px;
		box-sizing: border-box;
	}

	.product:nth-child(2n-1){
		margin-left: 56px;
	}

	.product:nth-child(2n){
		margin-right: 56px;
	}

	.product-picture {
		width: 100%;
		min-height: 226px;
		max-height: 500px;
		flex-grow: 1;
		height: 1px;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.product1 {
		background-image: url(/img/shop-item-tablet1.jpg);
	}
	.product2 {
		background-image: url(/img/shop-item-tablet2.jpg);
	}
	.product3 {
		background-image: url(/img/shop-item-tablet3.jpg);
	}

	.product-picture-link {
		display: none;
	}

	.product-title {
		margin: 0;
	}

	.product-title-link {
		font-size: 17px;
		line-height: 22px;
	}

	.product-text {
		font-size: 15px;
		line-height: 22px;
	}

}

/* ============ S H O P mobil =============== */

@media (max-width: 640px) {
	.shop {
		margin: 43px 15px 0;
	}
	.shop-title::after {
		left: 58%;
	}
	.products {
		display: block;
		padding: 0 20px;
	}
	.product-title {
		margin: 0;
		font-size: 17px;
		line-height: 22px;
	}
	.product {
		margin-bottom: 26px;
		width: 100%;
	}
	.product:last-child {
		margin-bottom: 0;
	}
	.product-picture {
		width: 100%;
		min-height: 226px;
		flex-grow: 1;
		height: 1px;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.product1 {
		background-image: url(/img/shop-item-mobile1.jpg);
	}
	.product2 {
		background-image: url(/img/shop-item-mobile2.jpg);
	}
	.product3 {
		background-image: url(/img/shop-item-mobile3.jpg);
	}
	.product-picture-link {
		display: none;
	}
	.product-text {
		font-size: 15px;
		line-height: 22px;	
	}
	#here {
		text-decoration: underline;
	}
}

/*================== F O O T E R =====================*/

.page-footer {
	width:1170px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 65px;
}

.social-container {
	display: flex;
	justify-content: center;
	background-color:#f4f7f6;
}

.social {
	width: 20px;
	margin: 30px 30px 30px 0px;
}

.copyrights {
	font-family: font-family: OpenSansBold;
	display:flex;
	font-size:12px;
	margin-top:72px;
	padding-bottom:40px;
	justify-content:center;
}

.copyrights-link {
	text-transform: none;
	color:#999999;
}


/*============== F O O T E R tablet ==============*/


@media  (min-width: 641px) and (max-width: 1200px) {
	
	.page-footer {
		margin: 22px 0px 0px;
		width: 100%;
	}	

	.social-container {
		margin: 0 35px;
	}

	.copyrights {
		margin-top: 50px;
	}

}

/* ============ F O O T E R mobil =============== */

@media (max-width: 640px) {
	.page-footer {
		width: 100%;
		padding: 0 15px;
		margin-top: 43px;
	}
	.social-container {
		justify-content: space-around;
		padding: 0 56px;
	}
	.social {
		width: 20px;
		height: 20px;
		margin-right: 0;
	}
	.copyrights {
		margin-top: 50px;
		padding-bottom: 50px;
	}
}